html, body, #root, .app {
  min-height: 100%;
  /* display: flex; */
  background-color: #263040;
}
.h1 {
  font-size: 2.5rem;
}
.App-body {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  margin: 0 auto;
}
.genre-item {
  background-color:#4c5a67;
  color: #f2f2f2;
  border-radius: 0.375rem;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  display: inline-block;
}
.albums-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  z-index: 10;
}
.album-page {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1em;
    color: #f2f2f2;
    min-height: 50vh;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.5), 0 4px 6px -2px rgba(0,0,0,.05);
    background-size: cover;
    background-position: center;
    border-radius: 0.175rem;
    padding-right: 1em;
    padding-left: 1em;
}
.side-navContainer {
  height: 100%;
  display: flex;
}
.side-nav {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-sizing: border-box;
  color: rgb(245, 245, 245);
  cursor: auto;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  height: 55px;
  margin-top: 6px;
  margin-bottom: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-decoration: none;
  text-decoration-line: none;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 143px;
  -webkit-font-smoothing: antialiased;
  display: block;
}
.footer-nav {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  width: auto;
  -webkit-font-smoothing: antialiased;
}
.footer-link {
  margin-right: 16px;
  color: #4c5a67;
  cursor: auto;
  display: inline;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  line-height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
  text-align: left;
  text-decoration: none;
  text-decoration-line: none;
}
.footer-right {
  float: right;
  text-align: right;
  right: 0;
}
.album-card {
margin: 10px;
min-width: 240px;
min-height: 240px;
  max-width: 580px;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  background-color: #F9FAFB;
  padding-top: 0.5rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  position: relative;

  /* make it a flex container */
  display: flex;
  flex-direction: column; /* children will stack vertically */
}
.album-text {
  background-color: #F9FAFB; /* Adjust the color as needed */
  padding-top: 0.5rem; /* Adjust the value as needed */
  border-bottom-left-radius: 0.375rem; /* Adjust the border radius values for specific corners if needed */
  border-bottom-right-radius: 0.375rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.04); /* Adjust the shadow values as needed */
  max-width: 600px;
  bottom: 0;
  height: 80px;
  width: 100%;
}
.bell {
  margin-right: 6px;
  margin-left: 6px;
}
.dropdown {
  margin-top: 2px;
  margin-right: 4px;
  position: absolute;
  width: 375px;
  background-color: rgba(255, 255, 255, 1.0); /* RGBA - red, green, blue, alpha (opacity) */
  color: 000;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 60vh;  /* set a max height for the dropdown */
  overflow-y: auto;  /* make it scrollable */
  z-index: 1000;  /* make sure it floats above other elements */
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
.notification {
  display: flex;
  align-items: center;
  padding: 8px;
}
.notification:hover {
  display: flex;
  align-items: center;
  background-color: #eff9ff;
}
.notification-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  margin-bottom: 2px; 
}

.notification-text {
  font-size: 14px;
  font-weight: 400;
  display: inline; /* Add this line to make the text inline */
}
.notification-item {
  padding: 8px;
  border-bottom: 1px solid #cccccc92;
}

.notification-item:last-child {
  border-bottom: none;
}
.close-notifications-item {
  float: right;
  padding: 8px;
}
.view-notifications {
  float: left;
  padding: 8px;
}
.tracklist {
  width: 50vw;
  background-color: #26304080;
  color: #f2f2f2;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
}
.dapp-button {
  margin-right: 12px;
  margin-left: 12px;
  position: relative;
  filter: sepia(66%);
  padding: 0.5em;
}
.track-items {
  display: flex;
  background-color: #f2f2f2;
  color: #263040;
}
.main-container {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  height: 100%;
  /* flex-basis: 200px; */
  flex-shrink: 0;
}
.page-content {
  flex-grow: 1;
  margin: 0 auto;
  padding: 1em;
  overflow-y: auto;
  height: 100%;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #263040;
  color: #fff;
  min-height: 72px;
  position: sticky;  
  top: 0; 
  z-index: 999; 
}

.navbar-logo {
  height: 24px;
  align-items: center;
  padding-top: 2px
}

.navbar-search {
  margin-right: 16px;
  margin-left: 16px;
  background-color: #434854;
  width: 300px;
  max-width: 100%;
  color: #fff;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border: none;
  font-size: var(--text-md);
  position: relative;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: width 0.3s ease-in-out, box-shadow .15s ease-in-out;
  background-clip: padding-box;
  font-weight: 400;
  line-height: 1.5;
}

.navbar-search.full-width {
  width: 100%;
}

.navbar-search:focus {
  outline: none;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  min-width: 50px;
  white-space: nowrap;
}

.navbar-items a {
  margin-left: 10px;
  margin-right: 8px;
}

.footer {
  background-color: #263040;
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20dvh;
  width: 100vw;
  flex-grow: 1;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.footer-logo {
  height: 32px;
  margin-bottom: 10px;
}

.footer-links {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  margin-top: 5px;
}

.powered-by {
  text-align: right;
  float: bottom;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Below are the CSS changes for responsive design */

@media (max-width: 768px) { 
  .dapp-button {
    display: none; /* Hides Dapp connector element */
  }
  .side-nav {
    display: none;
    width: 0px;
  }
  .side-navContainer {
    display: none;
  }
  .navbar-logo {
    height: 16px;
    align-items: center;
    padding-top: 2px
  }
  
  .page-content, .navContainer, .navbar {
    width: 100%; /* Less margin */
  }
  .card {
    padding: 1em;
  }
}
