html, #root, .app {
  min-height: 100%;
}
body {
  min-height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
}
body[data-theme='light'] {
  --text-color: #000;
  --bg-color: #f2f2f2;
}
body[data-theme='dark'] {
  --text-color: #fff;
  --bg-color: #263040;
}
.h1 {
  font-size: 2.5rem;
}
.form-frame {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  border-radius: 0.3rem;
}
.form-frame .navbar .web-footer {
  display: none;
}
.App-body {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  margin: 0 auto;
}
.modal-content {
  background-color: white;
  color: #000;
  border-radius: 10px;
  margin-right: 24px;
  margin-top: 24px;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-icon {
  margin-left: 10px;
}
.erg-button {
  background-color: #ffaa55;
  color: #161616;
  border-radius: 0.375rem;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  display: inline-block;
}
.erg-button:hover {
  background-color: #e3e3e3;
  color: #161616;
  border-radius: 0.375rem;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  display: inline-block;
}
.usd-button {
  background-color: #79cd7a;
  color: #161616;
  border-radius: 0.375rem;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  display: inline-block;
}
.usd-button:hover {
  background-color: #e3e3e3;
  color: #161616;
  border-radius: 0.375rem;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  display: inline-block;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.genre-item {
  background-color:#4c5a67;
  color: #f2f2f2;
  border-radius: 0.375rem;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  display: inline-block;
}
.albums-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  
  margin-left: auto;
  margin-right: auto;
  padding-right: 6px;
  position: relative;
  z-index: 10;
}
.album-page {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1em;
  min-height: 50vh;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.5), 0 4px 6px -2px rgba(0,0,0,.05);
  background-size: cover;
  background-position: center;
  border-radius: 0.3rem;
  padding-right: 1em;
  overflow-y: auto;
}
.album-page[data-theme='dark'] {
  color: #f2f2f2;
}
.album-page[data-theme='light'] {
  color: #000000;
}
.credits {
  padding-left: 1em;
}
.side-navContainer {
  height: auto;
  display: flex;
  position: fixed;
}
.side-nav {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  list-style-image: none;
  list-style-position: outside;
  height: 55px;
  margin-top: 6px;
  margin-bottom: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-decoration: none;
  text-decoration-line: none;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 143px;
  -webkit-font-smoothing: antialiased;
  display: block;
}
.side-nav[data-theme='dark'] {
  color: rgb(245, 245, 245);
}
.side-nav[data-theme='light'] {
  color: #263040;
}
.footer-nav[data-theme='dark'] {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  width: auto;
  -webkit-font-smoothing: antialiased;
}
.footer-nav[data-theme='light'] {
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: auto;
  -webkit-font-smoothing: antialiased;
}
.footer-link {
  margin-right: 16px;
  color: #4c5a67;
  cursor: auto;
  display: inline;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  line-height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
  text-align: left;
  text-decoration: none;
  text-decoration-line: none;
}
.footer-right {
  float: right;
  text-align: right;
  right: 0;
}
.album-card {
  margin: 10px;
  min-width: 240px;
  min-height: 240px;
  max-width: 580px;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  padding-top: 0.5rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  position: relative;
  overflow: hidden;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.5), 0 4px 6px -2px rgba(0,0,0,.05);
  flex-direction: column; 
}
.album-card.dark {
  background-color: #F9FAFB;
}
.album-card.light {
  background-color: #263040;
}
.album-text {
  background-color: rgba(249, 250, 251, 0.5);
  backdrop-filter: blur(7px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #263040;
  padding-top: 0.5rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.04);
  max-width: 600px;
  bottom: 0;
  height: 80px;
  width: 100%;
}
.album-text.dark {
  background-color: #F9FAFB;
}
.album-text.light {
  background-color: #263040;
}
.bell {
  margin-right: 6px;
  margin-left: 6px;
}
.dropdown {
  margin-top: 2px;
  margin-right: 4px;
  position: absolute;
  width: 375px;
  color: #263040;
  background-color: rgba(255, 255, 255, 1.0); 
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 60vh;  
  overflow-y: auto;  
  z-index: 1000;  
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
} 
.notification {
  display: flex;
  align-items: center;
  padding: 8px;
}
.notification:hover {
  display: flex;
  align-items: center;
  background-color: #eff9ff;
}
.notification-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  margin-bottom: 2px; 
}
.player-art {
  width: 80px;
  height: 80px;
}
.notification-text {
  font-size: 14px;
  font-weight: 400;
  display: inline; 
}
.notification-item {
  padding: 8px;
  border-bottom: 1px solid #cccccc92;
}
.notification-item:last-child {
  border-bottom: none;
}
.close-notifications-item {
  float: right;
  padding: 8px;
}
.view-notifications {
  float: left;
  padding: 8px;
}
.tracklist {
  width: 100%; 
  margin-right: 16px;
  color: #f2f2f2;
  backdrop-filter: blur(10px);
  border-radius: 0.375rem;
  border: 1px solid rgba(234, 234, 234, 0.229);
  align-items: center;
  padding: 8px;
  margin-top: 24px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.5), 0 4px 6px -2px rgba(0,0,0,.05);
}
.play-area {
  display: inline-flex;
}
.dapp-button {
  margin-right: 12px;
  margin-left: 12px;
  position: relative;
  padding: 0.5em;
}
.dapp-button[data-theme='dark'] {
  filter: sepia(66%);
}
.dapp-button[data-theme='light'] {
  filter: none;
}
.track-items {
  display: flex;
  color: #f2f2f2;
}
.main-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  height: 100%;
}
.page-content {
  flex-grow: 1;
  margin: 0 auto;
  padding: 1em;
  overflow-y: auto;
  height: 100%;
  margin-left: 120px;
}
.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  backdrop-filter: blur(10px);
  min-height: 72px;
}
.navContainer[data-theme='light'] {
  background: #f2f2f2;
  color: #263040;
}
.navContainer[data-theme='dark'] {
  background: #263040;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  min-height: 72px;
  position: fixed;  
  top: 0; 
  z-index: 999; 
}
.navbar[data-theme='light'] {

}
.navbar[data-theme='dark'] {

}
.navbar-logo {
  height: 24px;
  align-items: center;
  padding-top: 2px
}
.footer-logo {
  height: 32px;
  margin-bottom: 10px;
}
.navbar-search {
  margin-right: 16px;
  margin-left: 16px;
  background-color: #434854;
  width: 300px;
  max-width: 100%;
  color: #fff;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border: none;
  font-size: var(--text-md);
  position: relative;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: width 0.3s ease-in-out, box-shadow .15s ease-in-out;
  background-clip: padding-box;
  font-weight: 400;
  line-height: 1.5;
}

.search-results {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
  /* The rest of your .search-results styles */
}
.navbar-search.full-width {
  width: 100%;
}

.navbar-search:focus {
  outline: none;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  min-width: 50px;
  white-space: nowrap;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20dvh;
  width: 100vw;
  flex-grow: 1;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-items a {
  margin-left: 10px;
  margin-right: 8px;
}

.navbar-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.navbar-notification {
  position: relative;
  margin-right: 16px;
  margin-left: 16px;
}
.navbar-bell {
  width: 24px;
  height: 24px;
}
.navbar-dropdown {
  position: absolute;
  top: 58px;
  right: 0;
  width: 300px;
  z-index: 1000;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  background-color: #fff;
  color: #263040;
  display: none;
}
.navbar-dropdown.show {
  display: block;
}
.navbar-dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar-dropdown-item:hover {
  background-color: #f8f9fa;
}
.navbar-dropdown-item:last-child {
  border-bottom: none;
}
.navbar-dropdown-separator {
  height: 1px;
  background-color: #dee2e6;
}
.navbar-dropdown-footer {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-dropdown-footer a {
  color: #007bff;
}
.navbar-dropdown-footer a:hover {
  color: #0056b3;
}
.navbar-dropdown-notification {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar-dropdown-notification:hover {
  background-color: #f8f9fa;
}
.navbar-dropdown-notification:last-child {
  border-bottom: none;
}
.navbar-dropdown-notification-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1rem;
}
.navbar-dropdown-notification-close {
  color: #adb5bd;
  margin-left: auto;
}
.navbar-dropdown-notification-close:hover {
  color: #495057;
}

@media screen and (max-width: 768px) {
  .search-results {
    width: 100%;
  }
  .navbar-logo {
    display: none;
  }
  .dapp-button {
    display: none; /* Hides Dapp connector element */
  }
  .side-nav {
    display: none;
    width: 0px;
  }
  .side-navContainer {
    display: none;
  }
  .navbar-logo {
    height: 16px;
    align-items: center;
    padding-top: 2px
  }
  
  .page-content, .navContainer, .navbar {
    width: 100%; /* Less margin */
    margin-left: 0px;
  }
  .card {
    padding: 1em;
  }
}